@import url('font.css');

body{
	font-family: 'apercu', arial;
	font-weight: 300 !important;
	position: relative;
}
a{
	color: #0C6FA6;
}
/* .camelia { */
	/* min-height: 100px; */
/* } */
h1 {
	font-family: 'brew';
	font-size: 70px;
	font-weight: 500;
	letter-spacing: 2px;
}
h2{
	font-family: 'brew';
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3{
	font-family: 'brew';
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h4{
	font-family: 'brew';
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h5{
	font-family: 'brew';
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 1px;
}
h6{
	font-family: 'apercu';
	font-weight: 500;
	font-size: 16px;
}
.vasi {
	margin-bottom: 20px;
}
.headline7 {
	font-family: 'apercu';
	font-weight: 500;
	font-size: 14px;
}
.aci {
	margin-bottom: 24px;
}
.descopy{
	font-family: 'apercu';
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
}
.butcopy1 {
	font-family: 'apercu mono';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
}
.butcopy2 {
	font-family: 'apercu mono';
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	border-width: 4px;
}
.bodycopy1 {
	font-family: 'apercu';
	font-weight: 300;
	font-size: 14px;
}
.bodycopy2{
	font-family: 'apercu';
	font-weight: 300;
	font-size: 16px;
}
.line1 {
	/* height: 1.3px; */
	border-bottom: solid 1.3px #000;
	border-top: 0;
	margin-bottom: 42px;
	margin-top: 0;
}
.line2 {
	border-bottom: solid 1.3px #000;
	border-top: 0;
	margin-bottom: 11px;
	margin-top: 0px;
}
.h4bot{
	margin-bottom: 8px;
}
.bex {
	margin-bottom: 15px;
	font-size: 17px;
}
.brew {
	font-family: 'brew';
}
.mgb10{
	margin-bottom: 10px;
}
.cik{
	margin-bottom: 7px;
	padding-left: 10px;
}
.gali {
	padding: 40px;
	background: #DDD7D1;
}
.v{
	vertical-align: middle;
	display: inline-block;
	font-size: 11px;
}
.v * {
	display: inline-block;
	vertical-align: middle;
}
.cik h6{
	margin-bottom: 2px;
	font-weight: 400;

}
.sohi {
	display: inline-block;
}
.culo {
	color: #72A6D7;
}
.doo {
	display: inline-block;
	font-size: 12px;
}
.doo * {
	vertical-align: middle;
}
.sasa {
	display: flex;
	margin-bottom: 15px;
}
.sa1 {
	flex: 1;
}
.sa2 {
	flex: 1;
	text-align: right;
}
.upr {
	background: url('image/up.png') no-repeat center center;
	background-size: cover;
	width: 19px;
	height: 19px;
	display: inline-block;
}
.smbg, .smbo {
	/* background: url('image/up.png') no-repeat center center; */
	/* background-size: cover; */
	border-radius: 50%;
	background: #80B2A9;
	width: 14px;
	height: 14px;
	display: inline-block;
}
.smbo {
	background: #E0A331;
}
.lot {
	margin-bottom: 30px;
}
.cik p {
	font-weight: 200;
	font-size: 16px;
}
.sakew {
	width: 100%;
	height: 100%;
	/* margin-bottom: 30px; */
}
.sakew img {
	max-width: 100%;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
}
.opened-menu {
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3333;
	text-transform: uppercase;
	vertical-align: middle;
	display: none;
}
.opened-menu .close-menu {
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 100;
	width: 50px;
	height: 50px;
	background: url('image/plus.png') no-repeat center center ;
	background-size: cover;
	transform: rotate(45deg);
}
.menu-link{
	font-size: 30px;
	color: #000;
	display: inline-block;
	margin-top: 20%;
}
.mono {
	font-family: 'apercu mono';
}
.monobold{
	font-family: 'apercu mono';
	font-weight: bold;
}
.sela {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
}
.logo-wrapper {
	flex: 1;
	/* background: blue; */
	padding-left: 12%;
}
.logo {
	background: url('image/logo.svg') no-repeat center center;
	/* background-size: contain; */
	background-size: 80%;
	/* width: 463px; */
	/* width: 100%; */
	/* height: 100%; */
	flex: 1;
	min-width: 150px;
	display: block;
	background-position: 15px;
	/* background-color: red; */
}
.join-btn {
	background: #F19591;
	color: #fff;
	width: 105px;
	height: 140px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	z-index: 22;
	position: absolute;
	text-transform: uppercase;
}
.join-btn span {
	margin-top: auto;
	margin-bottom: 25px;
	width: 60px;
	text-align: center;
	/* height: 10px; */
}
.login-btn {
	background: #F7C0BA;
	color: #FEFBFA;
	width: 105px;
	display: flex;
	justify-content: center;
	min-height: 120px;
	/* height: 100%; */
	font-size: 12px;
	font-weight: bold;
}
nav .login-btn span{
	margin-top: auto;
	/* margin-bottom: 20px; */
	margin-bottom: 24px;
}
nav .menu-btn {
	background: #fff;
	color: #7E7E7D;
	/* display: inline-block; */
	display: block;
	/* background: red; */
	text-align: center;
	width: 50px;
}
nav .menu-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 120px;
	width: 90px;
	height: 100%;
}
nav .menu-icon {
	background: url('image/menu-icon.svg') no-repeat center center;
	background-size: cover;
	width: 18px;
	height: 16px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
}
nav .menu-text{
	font-size: 13px;
	text-transform: uppercase;
}
.second-p {
	color: #565655;
}
.main-img-wrapper {
	/* width: 590px;
	height: 630px; */
	width: 100%;
	height: 100%;
	padding-right: 30px;
}
.main-img-wrapper  img {
	width: 100%;
	/* height: 100%; */
	max-width: 100%;
	/* max-height: 100%; */
}
.main-box {
	background: #fff;
	color: #565655;
	text-align: center;
	padding: 40px 60px 30px 60px;
}
.main-box p {
	padding-bottom: 20px;
}
.desert {
	background: #EEE9DF;
}
.wild {
	background: #E9E3DE;
}
.isabel {
	background: #F3F0EB;
}
.bou {
	margin-top: 120px;
}
.cop {
	text-align: center;
}
.f-p {
	font-size: 0.8rem;
}
.f-wrap {
    display: flex;
    height: 100%;
    min-height: 411px;
    padding-top: 55px;
}

.main-box-btn {
	border: solid 5px #1A1919;
	text-align: center;
	padding: 10px 15px;
	width: 190px;
	display: inline-block;
	font-weight: bold;
}
.cdf{
	color: #6A6A80;
	text-align: center;
	font-size: 10px;
	display: block;
}
.cde {
	color: #494B49;
	font-size: 17px;
	/* font-weight: bold; */
	text-align: center;
}
.bbf {
	background: #EDE8E3;
	padding-top: 27px;
}
.main-box-wrapper {
	margin: 70px 94px 45px 45px;
	box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.18);
}
.boimg {
	width: 100%;
	height: 100%;
	text-align: center;
}
.boimg img {
	max-width: 100%;
	max-height: 100%;
}
.for-date {
	display: block;
	margin-bottom: 22px;
	color: #414241;
}
.mini-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'brew';
	letter-spacing: 1px;
}
.mini-nav li a{
	color: #7E7E7D;
	font-size: 14px;
}
.mini-nav li a.active{
	color: #000;
}
.mini-nav li {
	/* float: left; */
	display: inline-block;
	border-right: 1px solid #7E7E7D;
	padding-right: 10px;
	padding-left: 8px;

}
.mini-nav li:first-child {
	padding-left: 0;
}
.mini-nav li:last-child{
	border-right: none;
}
.mw {
	display: flex;
	flex-direction: column;
}
.pin {
	margin-top:auto;
	/* margin-bottom: 12px; */
	margin-bottom: 22px;
}
.tagline {
	color: #7E7E7D;
	font-style: italic;
	/* margin-bottom: 12px; */
	font-family: 'brew';
	font-weight: 200;
}
.menu-group {
	width: 100%;
	height: 100%;
	display: flex;
}

.menu-inner {
	margin-left: auto;
	display: flex;
}
.menu-inner .right{
	display: flex;
}
.menu-inner .left{
	display: flex;
	position: relative;
	width: 105px;
}
.menu-inner .left a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.camelia {
	height: 100%;
}
.cur {
	font-size: 10px;
	color: #242323;
}
.maxh {
	height: 100%;

}
.stay {
	position: fixed;
	background: #fff;
	z-index: 200;
	right: 0;
	left: 0;
	top: 0;
	min-height: 120px;
}
/* .imd {
	width: 150px;
	height: 100px;
} */
.fi {
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 80px;
}
.biu {
	color: #414241;
	margin-bottom: 37px;
}
.hiu {
	margin-bottom: 32px !important;
}
.tiu {

}
.row-center {
  text-align:center;
}

.col-center {
  display:inline-block;
  float:none;
}
.imd-wrapper {
	width: 100%;
	height: 100%;
	/* display: flex; */

}
.imd-wrapper p {
	text-align: center;
	margin-top: 21px;
	font-size: 12px;
}
.imd-wrapper img {
	width: 100%;
	max-width: 150px;
	display:block;
	margin:auto;
}

.img-group-wrapper {
	padding-top: 78px;
	padding-bottom: 75px;
}
.info-section {

	padding-bottom: 75px;
}
.abd {
	padding-top: 82px;
	padding-bottom: 103px;
}

.bnav .page-link{
	padding-top: 0;
	padding-bottom: 0;

}
.bnav{
	margin-bottom: 0;
	margin-top: 24px;
}
.bnav li a{
	background: transparent;
	border: 0;
	color: #6D6E6D;
}
.bnav li a.active {
	color: #1A1919;
}
.contact-form {

}
.ch {
	text-align: center;
}
.contact-form .name-wrapper {
	margin-bottom: 20px;
}
.contact-form .detail-wrapper {
	margin-bottom: 20px;
}
.contact-form .name, .contact-form .detail {
	border: 2px solid #A9AAA9;
	box-shadow: inset 3px 3px 10px 0px rgba(0,0,0,0.18);
	width: 100%;
	display: block;
	padding-left: 10px;
	padding-top: 5px;
}
.form-wrapper {
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 30px 34px;
}
.press-wrapper a, .form-wrapper a{
	color: #1D73AC;
}
.press-wrapper {
	padding: 30px 40px;
}
.foot {
	padding-top: 75px;
	padding-bottom: 176px;

}
.contact-submit-btn {
	background: #F3F3F3;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.11);
	margin-bottom: 50px;
}
.press-date {
	display: block;
	color: #414241;
	font-size: 11px;
}
.filter-wrapper {
	text-align: right;
}
.fil-text{
	color: #6D6E6D;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 20px;
}
.fil-sep {
	padding-right: 4px;
	padding-left: 4px;
	color: #6D6E82 !important;
}
.fil-link {
	color: #6D6E82 !important;
	font-size: 12px;
}
.fil-link.active{
	color: #1A1933;
}
.g-inner {
	width: 100%
	;
}
.ciw {
	height: 100%;
	width: 100%;
}
.ciw img {
	max-width: 100%;
}
.shang{
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
}
.shang img {
	max-width: 100%;
}
.chartw {
	background: #fff;
	padding: 30px 30px;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	margin-bottom: 30px;
}
.chartw img {
	max-width: 100%;
}
.comment-action {
	color: #6D6E6D;
	font-size: 12px;
	margin-right: 16px;
}
.fiveh{
	font-weight: 500;
}
.fourh{
	font-weight: 400;
}
.sixh{
	font-weight: 600;
}

.df {
	display: flex;
}
.fib {
	font-weight: 500;
}
.mib {
	width: 100%;
}
.mib img {
	max-width: 100%;
}
.bh1 {
	font-weight: 600;
}
.camer {
	margin-bottom: 20px;
}
.round-badge {
	width: 72px;
	height: 72px;
	border-radius: 40px;
	position: absolute;
	top: -10px;
	left: -10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 12px;
	font-weight: 600;
	z-index: 40;
	font-family: 'apercu';
}
.ft-wrap {
	display: flex;
	height: 100%;
	padding-top: 60px;
}
.bolag-footy {
	background: url('image/man-bg.png') no-repeat center center;
	background-size: cover;
}
.ft-inner {
	margin-top: auto;
	width: 520px;
	font-size: 19px;
	width: 100%;
}
.ft-inner h1{
	width: 400px;
	margin-bottom: 30px;
	max-width: 90%;
}
.tlink {
	/* font-size: 30px; */
}
.corner-badge{
	background: #FFCCBF;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	font-weight: bold;
	font-size: 18px;
}
.f-inner h1{
	width: 400px;
	margin-bottom: 30px;
	max-width: 90%;
}
.maid {
	background: #FBE3DE;
}
.big-box-img-wrapper{
	text-align: center;
}
.green-box-btn {
	border: solid 5px #1A1919;
	text-align: center;
	padding: 7px 21px;
	/* width: 190px; */
	display: inline-block;
	font-weight: bold;
}
.pan {
	margin-bottom: 30px;
}
.tyi {
	padding-top: 61px;
}

.o-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nco {
	font-size: 12px;
	font-weight: 100;
	font-style: normal;
	line-height: 16px;
	display: inline-block;
}
.black-btn {
	border: solid 5px #1A1919;
	text-align: center;
	padding: 7px 21px;
	/* width: 190px; */
	display: inline-block;
	font-weight: bold;
}

.f-inner h1{
	width: 400px;
	margin-bottom: 30px;
}
.mma {
	margin-bottom: 86px !important;
}

.green-box {
	text-align: center;
	background: #D0E4D1;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	position: relative;
	height: 100%;
	margin-right: 5px;
	margin-left: 5px;
	/* padding-bottom: 30px; */
}
.blue-h, .gold-h, .fol-btn, .bek-btn {
	background: #3B94D1;
	color: #fff;
	padding: 5px 16px;
	font-size: 12px;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
}

.blue-per {
	color: #2461CC;
	font-weight: 400;
}
.kap {
	margin-bottom: 32px;
	font-size: 14px;
}
.kap th:first-child{
	padding-left: 20px;
}
.kap td:first-child{
	padding-left: 20px;
}
.kap th {
	border: 0;
	background: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}
.kap td {
	border: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}
.kap td:last-child {
	text-align: right;
	padding-right: 0;
}

.kap tr:nth-child(odd) {
	background: #EEE9DF !important;
}

.hoki{
	border-top: 1px solid #373534;
	border-bottom: 1px solid #817D78;
	margin-top: 10px;
	margin-bottom: 18px;
}
.soh{
	font-size: 12px;
	color: #6B6C6B;
	margin-bottom: 2px;
}
.ab {
	font-weight: 500;
}


.invest-box {
	background: #C4DBD2;
	padding: 35px 40px;
}
.round-badge i {
	font-style: normal;
	/* display: block; */
}

.corner-badge i {
	font-style: normal;
}
.box {

}
.bek-btn {
	background: #94C7BA;
}
.mrr {
	margin-bottom: 48px;
}
.red-num {
	color: #EF887E;
}

.blue-num {
	color: #1C75AB;
}

.mcc {
	display: flex;
	flex-direction: column;
	background: #000;
	text-align: center;
}
.oll {
	font-size: 25px;
}
.fol-btn {
	background: #6CB5A5;
}
.gold-h{
	background: #B4ACA6;
}
.tlp{
	display: block;
	margin-bottom: 10px;
}
.ara {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 100;
}
.round-badge.choco {
	background: #B9AEA9;
}
.round-badge.green {
	background: #8CF3D2;
}

.hou{
	margin-bottom: 14px;
	margin-top: 4px;
}
.lg-box {
	text-align: center;
	background: #fff;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	position: relative;
	height: 100%;
	margin-right: 5px;
	margin-left: 5px;
	/* padding-bottom: 30px; */
}
.vas {

}
.lg-box img {
	max-width: 100%;
}
.lg-box-img-wrapper {
	position: relative;
}
.lg-box-text {
	padding: 24px 25px 36px 25px;
	display: flex;
	flex-direction: column;
}
.lg-box-btn{
	border: solid 5px #1A1919;
	text-align: center;
	padding: 7px 21px;
	/* width: 190px; */
	display: inline-block;
	font-weight: bold;
}

.kk-btn {
	background: #F3F3F3;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.11);
	margin-bottom: 22px;
}

.lig a{
	font-size: 22px;
	display: block;
}

.blue-h, .gold-h, .fol-btn {
	background: #3B94D1;
	color: #fff;
	padding: 5px 25px;
	font-size: 12px;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
}

.nim {
	font-size: 30px;
}
.ser{
	font-size: 24px;
	margin-bottom: 10px;
}

.pei{
	text-align: center;
	margin-bottom: 20px;
	color: #696A69;
}
.al{
	font-weight: 100;
}
.am {
	font-weight: 400;
}
.perw {
	width: 100%;
}
.kolo {
	margin-bottom: 0;
}
.kolo td:last-child{
	text-align: center;
}
.kolo th:last-child{
	text-align: center;
}
.kolo td:nth-child(3){
	text-align: right;
	padding-right: 0;
}
.kolo td:nth-child(4){
	padding-left: 0;
}
.kolo tr:nth-child(odd){
	background: #EEE9DF !important;
}

.kailo {
	margin-bottom: 0;
}
.kailo td:last-child{
	text-align: center;
}
.kailo th:last-child{
	text-align: center;
}
.kailo td:nth-child(3){
	padding-right: 0;
}
.kailo td:nth-child(4){
	padding-left: 0;
}
.kailo tr:nth-child(odd){
	background: #EEE9DF !important;
}

.blueper, .redper{
	display: inline-block;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	padding-top: 14px;
}
.blueper {
	background: #3B94D1;
}
.redper{
	background: #E57F7A;
}
.tbl-wrapper{
	background: #DDD7D1;
	padding: 35px 44px;
	/* margin-bottom: 80px; */
}
.kop, .sal {
	font-size: 11px;
	color: #fff;
	padding: 5px 14px;
}
.fgo {
	font-size: 90px;
	font-weight: 500;

}
.round-badge-inner {
	width: 100%;
	height: 100%;
}
.green-box-img-wrapper p {
	font-size: 12px;
	margin-bottom: 5px;
}
.green-box-img-wrapper span {
	font-size: 26px;
}
.green-box-img-wrapper img {
	max-height: 105px;
	margin-bottom: 25px;
}
.green-box-img-wrapper {
	position: relative;
	padding: 20px 13% 20px 13%;
}
.kmm {
	font-size: 24px;
}
.mah {
	font-size: 16px;
	color: #000;
	font-weight: 500;
}
.tri {
	color: #636463;
	display: block;
	line-height: 25px;
}
.avi{
	margin-bottom: 0;
	background: #EEE9DF;
	margin-bottom: 30px;
	padding-top: 20px;
}
.cih {
	border: 2px solid #000;
	box-shadow: inset 2px 2px 6px 0px rgba(0,0,0,0.18);
	padding: 5px 0px;
	padding-left: 5px;
	font-size: 20px;
}

.kop-btn, .sal-btn, .gen-btn {
	color: #fff;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: 400;
	padding: 6px 32px;
	display: inline-block;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	border: 0;
}
.gen-btn {
	background: #6CB4A4;
}
.kop-btn {
	background: #4C83B4;
	margin-right: 7px;
}
.sal-btn {
	background: #E57F7A;
}
.force-b{
	margin-top: auto;
}
.asa td, .asa th {
	border: none;
}
.gal {
	background: #DDD7D1;
	height: 100%;
	padding: 30px 40px;
}
.mgb70 {
	margin-bottom: 73px;
}
.kpp {
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: 500;
}
.kpp span {
	display: block;
}
.stu {
	font-size: 30px;
}
.kla {
	max-width: 135px;
}
.soli {
	width: 90%;
}
.black {
	color: #000;
}
.baba {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 1px;
	margin-top: 15px;

}
.baba li {
	float: left;
	border: 1px solid #8B8C8B;
	text-align: center;
	margin-left: -1px;
	padding: 4px 8px;
	font-size: 9px;
}
.sou {
	display: block;
	line-height: 10px;
	color: #636463;
	font-size: 15px;
}
.stt {
	color: #000;
	font-size: 17px;
	line-height: 15px;
}
.mit-no{
	font-size: 26px;
	color: #636463;

}
.wtbl, .mob-wtbl {
	background: #fff;
	height: 100%;
	padding: 20px;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
}
.wtbl td, .mob-wtbl td{
	vertical-align: middle;
}
.kaisep {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	vertical-align: bottom !important;
}
.mak {
	padding-top: 0px !important;
}
.mov-nav {
	list-style-type: none;
	/* margin: 0; */
	/* padding: 0; */
	padding: 11px 11px;
	margin-bottom: 0;
}
.mov-nav li {
	/* float: left; */
	display: inline-block;
	border-right: 1px solid #7E7E7D;
	padding-right: 10px;
	padding-left: 8px;

}
.soja {
	padding-top: 10px;
	background: #000;
	padding-bottom: 10px;
}
.mob-m {
	height: 100%;
	text-align: right;
	padding-right: 20px;
	position: relative;
}
.mob-m a {
	display: inline-block;
}
.mob-m .menu-icon {
	display: inline-block;
	vertical-align: middle;
}
.akama {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	font-size: 12px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.akama a {
	color: #fff;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.akama li{
	float: left;
}
.mob-m .menu-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	padding-right: 20px;
}
.mob-m .menu-btn {
	background: url('image/white-menu-icon.svg') no-repeat center center;
	background-size: cover;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.mov-nav li a{
	color: #7E7E7D;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
	font-weight: 500;
}
.mov-nav li a.active{
	color: #fff;
}
.mov-nav li:first-child {
	padding-left: 0;
}
.mov-nav li:last-child{
	border-right: none;
}

.ai-wrapper {
	margin-bottom: 88px;
}
.ai-wrapper img {
	max-width: 100%;
}
.hodor{
	font-weight: 500;
}
.vik {
	font-size: 27px;
	margin-bottom: 50px;
}
.nopad {
	padding-left: 0;
	padding-right: 0;
}
.floater {
	position: absolute;
	top: 1%;
	left: 5.5%;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 5px;
}
.floater.f1{
	color: #4F365F;
}
.floater.f2{
	color: #DF5C5D;
}
.floater.f3{
	color: #4F9896;
}
.floater.f4{
	color: #3249A2;
}
.floater.f5{
	color: #7A6957;
}
.elf{
	padding-right: 5px;
	padding-left: 5px;
}
.khal {
	font-size: 18px !important;
	font-weight: bold !important;
	font-family: 'apercu';
}
.ding {
	text-align: center;
	font-size: 15px;
	display: inline-block;
	max-width: 120px;
	margin-bottom: 12px;
	font-weight: 500;

}
.malun {

}
.m40 {
	margin-bottom: 40px;
}
.m2c {
	margin-bottom: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

.green-box img {
	max-width: 100%;
}
.sok {
	margin-bottom: 55px;
}
.handel-box {
	background: #DDD7D1;
	padding: 35px 40px 30px 40px;
}
.handel-table td {
	border: 0;
	padding-bottom: 10px;
}
.handel-table td:last-child{
	text-align: right;
}
.handel-table td:nth-child(3){
	text-align: center;
}
.kalen-box {
	background: #fff;
	padding: 35px 40px 20px 40px;
}
.pep-box{
	background: #C3DCD3;
	padding: 35px 40px 30px 40px;
}
.kop {
	background: #499493;
}
.ogv {
	background: url('image/start-bg.png') no-repeat center center;
	background-size: cover;
	width: 100%;
	/* height: 500px; */
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ogv h1 {
	color: #fff;
	font-size: 85px;
	max-width: 500px;
	text-align: center;
}

.com-wrapper {
	width: 100%;
	background: #fff;
	padding: 30px 34px;
}

.sal {
	background: #E47371;
}
.pept {
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 10px;
	width: 100px;
	display: inline-block;
}

.green-box-text {
	padding: 25px 25px 30px 25px;
	display: flex;
	flex-direction: column;
}
.ker {
	margin-top: auto;
	width: 520px;
	font-size: 19px;
}
.bolag-foot {
	background: url('image/lady.png') no-repeat center center;
	background-size: cover;
}
.max-hi{
	height: 100%;
}
.f-inner {
	margin-top: auto;
	width: 520px;
	font-size: 19px;
	margin-bottom: 89px;
}
.f-inner h1.jol{
	width: 90%;
	margin-bottom: 30px;
}
.purple-box {
	background: #C3BBC9;
}
.orange-box {
	background: #F2BBB0;
}
.light-box{
	background: #C3DBD2;
}
.blue-box {
	background: #99B8C8;
}
.gold-box{
	background: #CEB98D;
}
.white-box{
	background: #fff;
}
.purple-box ,
.orange-box ,
.light-box,
.blue-box ,
.gold-box,
.white-box {
	text-align: center;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.12);
	position: relative;
	height: 100%;
	margin-right: 5px;
	margin-left: 5px;
}

.com-wrapper .kk-btn {
	background: #F3F3F3;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.11);
	margin-bottom: 22px;
}
.com-wrapper .iru {
	margin-bottom: 40px;
}
.com-wrapper .fil-text{
	color: #6D6E6D;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 20px;
}
.com-wrapper .fil-link {
	color: #6D6E82 !important;
	font-size: 12px;
}
.com-wrapper .fil-link.active{
	color: #1A1933;
}
.com-wrapper .for-date {
	display: block;
	margin-bottom: 22px;
	color: #414241;
}
.com-wrapper .comment-action {
	color: #6D6E6D;
	font-size: 12px;
	margin-right: 16px;
}
.com-wrapper .fil-sep {
	padding-right: 4px;
	padding-left: 4px;
	color: #6D6E82 !important;
}
.com-wrapper .fil-t {
	font-size: 12px;
	color: #6D6E6D;
	padding-bottom: 10px;
	display: block;
}
.com-wrapper .hu {
/* 	border-top: 1px solid #373534;
	border-bottom: 1px solid #817D78; */
	margin-top: 22px;
	margin-bottom: 26px;
}
.mdf{
	margin-bottom: 20px;
}
.bop {
	margin-bottom: 20px;
}

@media (min-width: 576px) {
	.bou{
		margin-top: 120px;
	}
	.stay {
		height: 120px;
	}
	.logo-wrapper{
		padding-left: 0;
	}
}
@media (min-width: 768px) {
	.kali {
		width: 100%
	}
}
@media (min-width: 992px) {
	.kali {
		width: 100%
	}
}
@media (min-width: 1280px) {

	.kali {
		width: 100%
	}
}
@media (min-width: 100px) {
	.cfs {
		width: 100%
	}
}

@media (max-width: 992px) {
	.main-img-wrapper {
	   padding-right: 0;
	}
	.main-box-wrapper {
		margin: 45px 15px 45px 15px;
	}
}
@media (max-width: 576px) {
	.hop {
		margin-bottom: 30px;
	}
	.kik {
		padding-top: 30px;
	}
	.bou{
		margin-top: 120px;
	}
	.stay {
		height: 100px;
	}
	.logo-wrapper{
		padding-left: 0;
	}
}
